@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: rgb(54 57 63);
  color: #fff;
}

header {
  background-image: url('./assets/img/ufo.gif');
  background-repeat: no-repeat;
  background-position: right bottom;
  background-attachment: fixed;
}

@layer components {

  header {
    @apply grid grid-cols-1 sm:grid-cols-2 items-center justify-center gap-8 h-screen bg-primary;
}

.hero-text {
    @apply p-10;
}

.hero-image {
    @apply w-full h-auto p-10;
}
  /* Discord style input */
  .discord-input {
    @apply bg-gray-900
    border border-gray-700 dark:border-gray-800
    rounded-lg shadow-lg
    p-2 m-2 outline-none placeholder:text-gray-500;
  }
  
  .sidebar-icon {
    @apply relative flex items-center justify-center h-12 w-12 mt-2 mb-2 mx-auto shadow-lg bg-gray-800 text-green-500
    hover:bg-green-600 hover:text-white
    rounded-3xl hover:rounded-xl transition-all duration-300 ease-linear cursor-pointer;
  }

  .sidebar-icon[disabled] {
    @apply bg-gray-800 text-gray-500
    cursor-not-allowed;
  }

  .sidebar-active {
    @apply bg-green-600 text-white
    rounded-3xl;
  }

  .sidebar-tooltip {
    @apply absolute w-auto p-2 m-2 min-w-max left-14 rounded-md z-50 shadow-md text-white bg-gray-900 text-xs font-bold transition-all duration-100 scale-0 origin-left;
  }

  .sidebar-hr {
    @apply bg-gray-200 dark:bg-gray-800 
    border border-gray-200 dark:border-gray-800 rounded-full
    mx-2;
  }

  .top-navigation {
    @apply flex flex-row items-center justify-evenly 
    bg-primary bg-opacity-90 
     h-16 
    m-0 ml-16 /*ml-96*/
    sticky top-0 z-20
    shadow-lg;
  }

  .top-navigation-icon {
    @apply text-gray-500
    mr-3 ml-4
    transition duration-300 ease-in-out 
    hover:text-pink-400 
    cursor-pointer;
  }

  .top-navigation-icon:first {
    @apply ml-auto mr-4;
  }

  .title-hashtag {
    @apply text-lg tracking-wider font-semibold text-green-600 text-opacity-100 font-extrabold
    ml-2 my-auto;
  }

  .title-text {
    @apply text-xl text-green-400 tracking-wider font-semibold text-opacity-80 
    mr-auto ml-2 my-auto w-fit
    transition duration-300 ease-in-out;
  }

  .content-container {
    @apply /*flex flex-col*/
    m-0 ml-16 p-5/*ml-96*/ bg-gray-700 text-white font-medium;
  }

  /* Server card grid */
  .server-grid {
    @apply flex flex-wrap justify-center gap-4;
    }
    .server-card {
        @apply bg-gray-800 dark:bg-gray-900
        border border-gray-700 dark:border-gray-800
        rounded-lg shadow-lg h-72
        m-2 p-2 sm:w-full md:w-60
        transition duration-300 ease-in-out
        cursor-pointer;
    }

    .server-thumbnail {
        @apply w-full h-56 mb-auto
        object-cover rounded-lg
        m-auto;
    }

    .server-name {
        @apply text-center text-white text-lg font-semibold
        mt-2;
    }

    .server-card:hover {
        @apply bg-gray-900 dark:bg-gray-800
        border border-gray-800 dark:border-gray-700
        shadow-xl;
    }

    select {
        @apply bg-gray-800 dark:bg-gray-900
        border border-gray-700 dark:border-gray-800
        rounded-lg shadow-lg
        text-green-600 text-lg font-semibold
        p-2 w-32 mr-auto
        transition duration-300 ease-in-out;
    }

    .channel-bar {
        @apply w-80 h-screen m-0 ml-16 bg-gray-800
         overflow-hidden
         fixed top-0 left-0 h-screen flex flex-col;
      }
    
      .channel-container {
        @apply flex flex-col items-start justify-start 
        p-1 m-0 text-white font-semibold overflow-y-scroll;
      }
    
      .channel-block {
        @apply flex items-center justify-center 
        h-16 
        m-0 p-0;
      }
    
      .channel-block-text {
        @apply text-lg tracking-wider font-bold 
        text-gray-500 
        mr-auto ml-4 my-auto align-middle;
      }

      .channel {
        @apply hover:bg-gray-800 dark:hover:bg-gray-700 w-full p-4 cursor-pointer;
      }

      .badge-premium {
        @apply bg-yellow-100 text-yellow-800 text-sm font-medium me-2 px-2.5 py-0.5 rounded dark:bg-yellow-900 dark:text-yellow-300;
      }

      /* Discord style buttons */

      .discord-btn {
        @apply bg-gray-800 dark:bg-gray-900
        border border-gray-700 dark:border-gray-800
        rounded-lg shadow-lg
        p-2 m-2;
      }

      .btn-primary {
        @apply bg-green-600 text-white
        rounded-lg shadow-lg
        p-2 m-2;
      }

      /* Pricing plans */
      .pricing-container {
        @apply flex flex-row flex-wrap gap-3 justify-center
        p-5 bg-gray-700 text-white font-medium;
      }

      .pricing-card {
        @apply bg-gray-800 dark:bg-gray-900
        border border-gray-700 dark:border-gray-800
        rounded-lg shadow-lg h-fit
        m-2 p-2 pb-4 sm:w-full md:w-60
        transition duration-300 ease-in-out
        cursor-pointer relative;
      }

      .pricing-thumbnail {
        @apply w-full h-56 mb-auto
        object-cover rounded-lg
        m-auto;
      }

      .pricing-name {
        @apply text-center text-white text-lg font-semibold
        mt-2;
      }

      .pricing-price {
        @apply text-center text-green-500 text-2xl font-bold
        mt-2;
      }

      .pricing-features {
        @apply text-left text-gray-400 text-sm
        mt-2 mb-5 list-disc list-inside;
      }

      .pricing-card:hover {
        @apply bg-gray-900 dark:bg-gray-800
        border border-gray-800 dark:border-gray-700
        shadow-xl;
      }

      .pricing-btn {
        @apply bg-green-600 text-white
        rounded-lg shadow-lg
        p-2 bottom-0;
      }

      /* Statistics cards*/
      .stats-container {
        @apply flex flex-row flex-wrap gap-3 justify-center
        p-5 bg-gray-700 text-white font-medium;
      }

      .stats-icon {
        @apply text-green-500 text-4xl;
      }

      .stats-card {
        @apply bg-gray-900
        border border-gray-700 
        rounded-lg shadow-lg h-fit 
        m-2 p-2 pb-4 w-60
        transition duration-300 ease-in-out
        cursor-pointer flex flex-row items-center gap-5;
      }

      .stats-usages {
        @apply text-center text-white text-lg font-semibold
        mt-2;
      }

      progress {
        @apply w-20 h-2 bg-gray-600 rounded-lg;
      }

      /* Discord style tables */

      table {
        @apply bg-gray-800 dark:bg-gray-900
        border border-gray-700 dark:border-gray-800
        rounded-lg shadow-lg
        p-2 m-2 w-full m-auto;
      }

      th {
        @apply bg-gray-900 dark:bg-gray-800
        border border-gray-700 dark:border-gray-800
        rounded-t-lg shadow-lg
        p-2 m-2;
      }

      tr {
        @apply bg-gray-800 dark:bg-gray-900
        border border-gray-700 dark:border-gray-800
        rounded-lg shadow-lg
        p-2 m-2;
      }

      td {
        @apply text-center p-3;
      }

      tr:nth-of-type(odd) {
        @apply bg-gray-600 break-words;
      }

      td:first-child {
        @apply text-left;
      }

      .character {
        @apply bg-gray-900
        border border-gray-700 
        rounded-lg shadow-lg w-full h-20 
        m-2 p-2
        cursor-pointer flex flex-row items-center gap-5;
      }

      .character-pfp {
        @apply w-12 h-12 rounded-full;
      }

      .character-name {
        @apply text-white text-lg font-semibold;
      }


      label {
        @apply uppercase tracking-wide text-gray-400 text-xs font-bold mb-2;
      }

      textarea {
        @apply resize-none;
      }

      section {
        @apply mb-20;
      }

      /* Blue form submit button like Discord */

      input[type="submit"] {
        @apply bg-blue-600 text-white
        rounded-lg shadow-lg
        p-3 m-2 cursor-pointer;
      }

      /* Pricing plans */
      .pricing-container {
        @apply flex flex-row flex-wrap gap-3 justify-center
        p-5 bg-gray-700 text-white font-medium;
      }

      .pricing-card {
        @apply bg-gray-800 dark:bg-gray-900
        border border-gray-700 dark:border-gray-800
        rounded-lg shadow-lg h-fit
        m-2 p-2 pb-4 sm:w-full md:w-60
        transition duration-300 ease-in-out
        cursor-pointer relative;
      }

      .pricing-thumbnail {
        @apply w-full h-56 mb-auto
        object-cover rounded-lg
        m-auto;
      }

      .pricing-name {
        @apply text-center text-white text-lg font-semibold
        mt-2;
      }

      .pricing-price {
        @apply text-center text-green-500 text-2xl font-bold
        mt-2;
      }

      .pricing-features {
        @apply text-left text-gray-400 text-sm
        mt-2 mb-5 list-disc list-inside;
      }

      .pricing-card:hover {
        @apply bg-gray-900 dark:bg-gray-800
        border border-gray-800 dark:border-gray-700
        shadow-xl;
      }

      .pricing-btn {
        @apply bg-green-600 text-white
        rounded-lg shadow-lg
        p-2 bottom-0;
      }

}